/* You can add global styles to this file, and also import other style files */

 @import url(https://fonts.googleapis.com/css?family=Righteous);

/* .broken-text-container:hover>span.rotator{
    transform: rotateY(360deg);
    display: inline-block;
    transition-duration: 200ms;
} */

span.rotator:nth-child(n){
    background-color: rgb(76, 93, 178);
}

/* span.rotator:nth-child(2n+1){
    background-color: rgb(219, 63, 35)
} */

span.rotator.active{
    display: inline-block;
    animation-delay: attr(iter);
    animation: balance 1.5s ease-in-out;
}

@keyframes balance {
	0%, 100%{
        transform: translate(0px, 0px);
        opacity: 1;
	}
	
	30%{
        transform: translate(0px,1000px);
        opacity: 0;
    }
    
    31%{
        transform: translate(0px,-1000px)
    }
    
    70%{
        transform: translate(0px,-1000px)
    }
}

.broken-text-container{
    float: left;
}

.broken-text-container+hr{
    width: 0px;
    float: left;
}

.broken-text-container:hover+hr{
    transition-duration: 500ms;
    width: 50%;
}